<template>
    <layout>
        <router-view slot="content"></router-view>
    </layout>
</template>

<script>
    import Layout from './Layout.vue';

    export default {
        name: "App",
        components: {
            Layout,
        },
    }
</script>

<style src="./index.scss" lang="scss">
</style>
