<template>
    <div>
        <h1 @click="alert">Home</h1>
        {{ message }}
        <b-alert show>Default Alert</b-alert>
    </div>
</template>

<script>
    import { test } from './api';

    export default {
        name: 'Home',
        data() {
            return {
                message: 'hello world',
            }
        },
        methods: {
            alert() {
                alert('hi');
                this.message = 'I manipulated you.';
                test();
            }
        }
    }
</script>