<template>
    <div class="layout">
        <sidebar class="sidebar"></sidebar>
        <div class="content">
            <h1 class="title">Honestly</h1>
            <slot name="content">
            </slot>
        </div>
    </div>
</template>

<script>
    import Sidebar from './Sidebar.vue';

    export default {
        name: 'Layout',
        components: {
            Sidebar,
        },
    }
</script>

<style lang="scss" type="text/scss">
    .layout {
        .title {
            margin-bottom: 2rem;
        }
        .sidebar {
            position: fixed;
            height: 100vh;
            width: 15rem;
            background-color: #77AC5A;
            color: white;
        }

        .content {
            margin-left: 15rem;
            padding: 2rem;
        }
    }
</style>
