<template>
    <div>
        <div class="toast" v-if="showToast">
            <b-alert variant="success" show>
                Wurde erfolgreich gespeichert
            </b-alert>
        </div>
        <b-card-group deck
                      class="mb-3"
        >
            <b-card bg-variant="secondary" text-variant="white" title="Company OKRs">
                <template v-for="(okr, index) in personOkrs">
                    <div class="form-group">
                        <b-form-input v-model="okr.value"
                                      type="text"
                                      placeholder="Enter your personal OKR"
                                      @change="saveToDB(index)"
                                      @focus.native="addNewOkr(index)"
                        >
                        </b-form-input>
                    </div>
                </template>
            </b-card>
        </b-card-group>
    </div>
</template>
<script>
    import {getObjectives} from './api';

    export default {
        name: 'PersonOkrList',
        data() {
            return {
                personOkrs: [
                    {
                        value: ''
                    },
                ],
                teams: [
                    {
                        name: 'Team A',
                        id: 1,
                    },
                    {
                        name: 'Team B',
                        id: 2,
                    }
                ],
                showToast: false,
            }
        },
        methods: {
            saveToDB(index) {
                this.showToast = true;
                setTimeout(function(){ this.showToast = false; }.bind(this), 3000);

                this.addNewOkr(index)
            },
            addNewOkr(index) {
                if (index === 0 || (this.personOkrs[this.personOkrs.length - 1].value !== '' &&
                        (index + 1) === this.personOkrs.length)) {
                    this.personOkrs.push({value: ''});
                }
            },
        },
        mounted() {
            getObjectives().then(response => {
                console.log(response);
            });
        }
    }
</script>
<style lang="scss" type="text/scss">
    .toast {
        position: absolute;
        width: 30rem;
        top: 2rem;
        right: 2rem;
        z-index: 999;
    }
</style>