<template>
    <div class="sidebar">
        <ul>
            <li>
                <b-link to="/company-okrs">
                    Overview
                </b-link>
            </li>
            <li>
                <b-link to="/person/1">
                    Personal OKRs
                </b-link>
            </li>
        </ul>

    </div>
</template>
<script>
    export default {
        name: 'Sidebar'
    }
</script>
<style scoped lang="scss" type="text/scss">
    .sidebar {
        padding: 2rem;
        ul {
            padding-left: 0;
            li {
                list-style: none;
                margin-bottom: 1rem;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
</style>
